.DS_Store
!Data/
Data/*
!Data/download_data.sh
.idea*
*.pdf
*.jpg
*.png
*.pyc
sample.py
vggtest.py
*.pem
amazon_ssh.sh
awstransfer.sh
localtrain.py
vislstm.png
sample_aws.sh
eval_trec.py
theanotest.py
data_loader_old.py
Utils/word_embeddings_old.py
gen_backup.py