.DS_Store
.idea*
*.pdf
*.jpg
*.png
*.pyc
*.py.bak
sample.py
vggtest.py
*.pem
amazon_ssh.sh
awstransfer.sh
localtrain.py
vislstm.png
sample_aws.sh
eval_trec.py
theanotest.py
data_loader_old.py
Utils/word_embeddings_old.py
gen_backup.py
data_loader_test.py
downloadModels.sh